# Task1

In [ ]:
import pandas as pd
import numpy as np

In [13]:
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [21]:
html_page = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(html_page)

In [41]:
df1 = dfs[0]
df2=df1.rename(columns={0: "Postcode", 1: "Borough", 2: "Neighbourhood"})
df=df2.drop([0])
df.describe()
df.head()

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [42]:
#Exclude boroughs with values "Not assigned"
df = df[df["Borough"]!='Not assigned']
df_backup = df

In [45]:
# Resetting the index
df.index = range(len(df.index))
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [47]:
idx_to_change = df.loc[df["Neighbourhood"] == "Not assigned"].index

# Iterate the list of indicies and set Column2 to the value of Column1 at the given index
for i in idx_to_change:
    df.iloc[i, 2] = df.iloc[i, 1] 
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [49]:
# Assign borough to neighborhood when if a cell has borough but a Not assigned neighborhood
df1= df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list)
df2= df1.sample(frac=1).reset_index()
df2['Neighbourhood'] = df2['Neighbourhood'].str.join(', ')
df2.head()

  Postcode          Borough                                      Neighbourhood
0      M4K     East Toronto                       The Danforth West, Riverdale
1      M4A       North York                                   Victoria Village
2      M4L     East Toronto                     The Beaches West, India Bazaar
3      M9C        Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
4      M4N  Central Toronto                                      Lawrence Park

In [50]:
print(df2.shape)

(103, 3)

# Task 2

In [51]:
# Load coordinate data from CSV
url_geo = 'http://cocl.us/Geospatial_data'
df_geo = pd.read_csv(url_geo)
#Renaming of column
df_geo = df_geo.rename({'Postal Code':'Postcode'}, axis=1)
df_geo.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [52]:
df = df2.merge(df_geo)
df.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
3,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
4,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790

In [53]:
df.tail(10)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
93,M5V,Downtown Toronto,"CN Tower, Bathurst Quay, Island airport, Harbo...",43.628947,-79.394420
94,M1W,Scarborough,L'Amoreaux West,43.799525,-79.318389
95,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724
96,M4T,Central Toronto,"Moore Park, Summerhill East",43.689574,-79.383160
97,M5S,Downtown Toronto,"Harbord, University of Toronto",43.662696,-79.400049
98,M5L,Downtown Toronto,"Commerce Court, Victoria Hotel",43.648198,-79.379817
99,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
100,M3B,North York,Don Mills North,43.745906,-79.352188
101,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
102,M1S,Scarborough,Agincourt,43.794200,-79.262029